body{


	margin: 0;

}
#colorcian{
    border: 2px solid black;
    background-color: #7BF3EC;
}
#contenedores{
    height: auto;
    width: 500px;
    margin: auto;
}
#jazz{
    width: 60px;
    height: 30px;
    border: black solid 1px;
}
#contenedor{
height: auto;
width: auto;

}
#arriba{
height: 375px;
width: auto;
}
#medio{
	height: 450px;
	width: 79%;
	float: right;
}
#abajo{
 height: 130px;
 width: auto;
}
#con2{
	height: 500px;
width: auto;
}
#publi{
	height: 550px;
	width: 20%;
	float: left;

}

#estiloP2{
    background-color: AFF4F0;
}
/*#diseno {
    border:5px solid green;
    background-color: ;
}*/

#publi2{
    
	height: 350px;
	width: 20%;
	float:left;
}
/*#botonex{
	height: 350px;
	width: 50%;
	float: right;
}*/

.publicidad{ 
    border-radius: 5%;   
	border: 3px dotted black;
    background-size: 50% 50%;
	background-image: url(../img/equiz.png);
}
#botonreg{
	margin-left: 100px;
	margin-top: 30px;
		height: 100px;
	width: 400px;
}
.log{
		  background-size: 100% 100%;
	  background-image: url(../img/inicio.png);
}
.registrar{
  background-size: 100% 100%;
	  background-image: url(../img/reg.png);
}
.roza{
	background-image: url(../img/rosa.jpg);
	  background-size: 100% 100%;
}

.nomar{
	margin:0;
}
li {
    list-style: none;
}
a:link, a:visited {
    color: #FF5252; 
    text-decoration: none;   
}

a:hover {
    color: #ffa726 !important;
}
#menu ul {
    margin-right: -60px;
    margin-top: 40px;
}

#menu ul li {
    float: left;
    padding-right: 30px;
    text-transform: uppercase;
}

#menu ul li a:hover {
    text-decoration: overline;
}

a.activo {
    color: #ffa726 !important;
    text-decoration: overline;
}
#menu {
   
    margin: auto;
    width: 600px;
    height: 20px;
}
#slid{
	
	    width: 900px;
    height: 200px;
    margin:auto;
}
#contenido{
	height: 530px;
	width: 69%;
	float: left;
}
#preguntis{
    border: 3px double #7BF3EC;
    border-radius: 3%;

}
#busca{
	height: 30px;
	width: 26,5%;
	float: right;
}
.linea{
    border-radius: 2%;
	border: 2px solid #7BF3EC;
}
.floti{
float: left;
}
.flotd{
float: right;
}

#contenedor_abajo_abajo{
    color:rgb(153, 153, 153);
    font-size:12px;
    height:220px;
    padding-top:0px;
    position:relative;
    text-align:left;
    width:960px;
    margin: auto;
}

#leftbox{
    color:rgb(153, 153, 153);
    display:block;
    float:left;
    font-size:12px;
    height:183px;
    text-align:left;
    width:300px;
}

.box{
    float:right;
    font-size:12px;
    height:133px;
    margin-left:30px;
    text-align:left;
    width:190px;
}

.box ul li {
    margin-left: -36px;
}

.columna6{
    background-color:rgb(51, 51, 51);
    color:rgb(255, 255, 255);
    display:block;
    font-size:12px;
    height:60px;
    text-align:left;
    width:100%;
    margin-top: 10px;
}
#contenedor_copy{
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin: auto;
    width: 960px;
}
#face{
	margin-top: 10px;
	width: 20px;
	height: 20px;
	background-image: url(../img/icono_fb.png);
	 background-size: 100% 100%;
}
#arriba2{
height: 105px;
width: auto;
}
#xd{

	float: right;
	height: 40px;
	width: 200px;
}
#enmedi{
margin: auto;
width: 233px;
height: 40px;
}
#busca3{
height: 30px;
	width: 26,5%;

}
#revis{
	width: auto;
	height: 500px;
}
#datons{
width: 733px;
height: 260px;
}
#papitulos{
width: auto;
height: auto;
}
#dato{
	width: 270px;
	height: 250px;
	float: right;
}
#imajene{
	width: 130px;
	height: 250px;
	float: left;
	
}
#reacciones{
	width: 270px;
	height: 250px;
	float: left;
	
}
#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}


label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}
button#botonlog {
    width: 500px ;
    height: 100px;
    margin-top: 10px;
    background: #3a7999;
color: #f2f2f2;
padding: 10px;
font-size: 18px;
border-radius: 5px;
}
